body{
    width: 100%;
    height: 100%;
    font-family: 'poppins';
}
.main1{
    display: block;
    width: 90%;
    margin-left: 5%;
}
.c1{
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}
.c11{
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10%;
    vertical-align: middle;
}
.hd{
    width: 20%;
    height: 100px;
    padding-top: 55px;
    margin-left: 0%;
}
.clgimg{
    height: 100px;
    width: 20%;
    margin: 30px 20px 30px 30px;
    border-radius: 12px;
    box-shadow: 3.5px 5px 5px #ebebeb;
    transition: 1.5s;
}
.clgimg:hover{
    box-shadow: 5px 8px 5px grey;
    transition: 1.5s;
    border: 2px solid black;
}
.main2{
    width: 90%;
    margin-left: 5%;
}
.c2{
    display: flex;
    width: 100%;
}
.info{
    width: 25%;
    display: block;
    color: blueviolet;
    text-align: center;
}
.mentorimg{
    border: 2px solid blueviolet;
    padding: 2px;
    height: 100px;
    width: 100px;
    margin: 30px 10px 2px 30px;
    border-radius: 50%;
    transition: 1.5s;
}
.mentorimg:hover{
    transition: 1.5s;
    box-shadow: 3.5px 5px 5px rgb(190, 141, 236);
    border-radius: 30%;
}
.main3{
    display: flex;
    width: 90%;
    margin-left: 5%;
}
.c3{
    width: 33.33%;
    display: block;
}
.maimg{
    border: 2px solid #9010B0;
    padding: 2px;
    height: 150px;
    width: 150px;
    margin: 30px 10px 2px 30px;
    border-radius: 50%;
    transition: 1.5s;
}
.maimg:hover{
    transition: 1.5s;
    box-shadow: 3.5px 5px 5px rgb(190, 141, 236);
    border-radius: 30%;
}

h1
{
    background: linear-gradient(90.23deg, #234EB0 2.75%, #B656E2 104.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;

}
h2
{
    background: linear-gradient(90.23deg, #234EB0 2.75%, #B656E2 104.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    margin-top: 10%;

}
h3{
    color: #234EB0;
    width: 80%;
    margin-left: 12%;
    font-size: 25px;
}
.ab{
    color: #234EB0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.mah{
    color: #234EB0;
    width: 80%;
    margin-left: 3%;
    font-size: 25px;
}
p{
    color: #9010B0;
}

.btn{
    width: 100px;
    border-radius: 24px;
    display: inline-block;
    padding: 10px 24px;
    color: #234EB0;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border: 1px solid #9010B0;
    font-size: 0.8rem;
    margin-left: 3%;
    box-shadow: 2px 4px 4px #9010B0;
    transition: 1.5s;
}

.btn:hover {
    background-color: #9010B0;
    color: white;
    transition: 1.5s;
    box-shadow: 2px 4px 4px rgb(190, 141, 236);
}


